---
import Layout from "../layouts/Layout.astro";
import ExperienceCard from "../components/ExperienceCard.astro";

export interface ExperienceProfile {
  company: string;
  position: string;
  dateRange: string;
  location: string;
  achievements: string[];
}

const experienceProfiles: ExperienceProfile[] = [
  {
    company: "Postello.ai",
    position: "Data Scientist",
    dateRange: "November 2021 - Present",
    location: "Kyiv, Ukraine",
    achievements: [
		"Developed and maintained postello.ai application for generating articles and posts for popular social media platforms using natural language processing toolkit;",
		"Designed and implemented architecture for RDS."
	],
  },
  {
    company: "National Research Foundation of Ukraine",
    position: "Professor Assistant",
    dateRange: "December 2020 - October 2021",
    location: "Kyiv, Ukraine",
    achievements: [
		"Assisted in research for gradient descent algorithms;",
		"Participated as a co-author of a paper on comparing gradient descent algorithms convergence speed."
	],
  },
  {
    company: "Wolters Kluwer: CRA Wiz SaaS (Remote)",
    position: "Software Engineer",
    dateRange: "September 2019 - November 2020",
    location: "Kyiv, Ukraine",
    achievements: [
		"Developed and maintained CRA WizNG SaaS - technology solutions to help you prepare for and ensure compliance;",
		"Designed and implemented architecture of database for a particular microservice;",
		"Implemented end-to-end functionality for regular request-response features (HTTPS) and real-time features (WebSockets)."
	],
  }
];
---

<Layout name="EXPERIENCE" title="Anton Kozyriev / Experience">
  <div class="scroll-h stretch">
    <ol class="ml-4 border-l-2 border-zinc-600 stretch">
	{
      experienceProfiles.map((exp) => (
        <ExperienceCard
		  company={exp.company}
          position={exp.position}
          dateRange={exp.dateRange}
          location={exp.location}
          achievements={exp.achievements}
        />
      ))
	}
    </ol>
  </div>
</Layout>

<style>
  .card-body {
    display: block;
    padding: 0 0.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    width: calc(100% - 4.5rem);
  }
</style>
