---
import Layout from "../layouts/Layout.astro";
import CertificateCard from "../components/CertificateCard.astro";
import RadialProgress from "../components/RadialProgress";

import "../styles/common.css";

export interface Certificate {
  label: string;
  issueDate: string;
  header: string;
  description: string;
  link: string;
}

const radialSettings = {
  width: 15,
  size: 125,
  color: "#52525b",
};

const skillsList: string[] = [
  "Software development",
  "NLP",
  "Databases",
  "Feature engineering",
  "AI/ML",
  "Big Data",
  "Deep learning",
  "Data Visualization",
  "Applied mathematics",
  "Statistics",
  "Cloud",
];

const certificationsList: Certificate[] = [
  {
    label: "/assets/certification/duolingo.svg",
    issueDate: "May 2022",
    header: "Duolingo English Test",
    description: "Proficiency Certificate (125)",
    link: "https://certs.duolingo.com/a388c42c26b155e684a8b5a6d603fdff",
  },
  {
    label: "/assets/certification/kaggle.svg",
    issueDate: "November 2021",
    header: "Kaggle",
    description: "Intro to Machine Learning",
    link: "https://www.kaggle.com/learn/certification/antonkozyriev/intro-to-machine-learning",
  },
  {
    label: "/assets/certification/kaggle.svg",
    issueDate: "August 2021",
    header: "Kaggle",
    description: "Python",
    link: "https://www.kaggle.com/learn/certification/antonkozyriev/python",
  },
  {
    label: "/assets/certification/coursera.svg",
    issueDate: "May 2020",
    header: "Deeplearning.ai",
    description: "Neural networks and Deep Learning",
    link: "https://coursera.org/share/a98baf2ac0434d6efcdeb50084643a07",
  },
  {
    label: "/assets/certification/coursera.svg",
    issueDate: "December 2020",
    header: "ISB",
    description: "Leadership and Emotional Intelligence",
    link: "https://coursera.org/share/844a3c5041000ece5bf36392384db7d0",
  },
  {
    label: "/assets/certification/coursera.svg",
    issueDate: "December 2020",
    header: "HSE",
    description: "Advanced Machine Learning",
    link: "https://coursera.org/share/2c30c71a381dc146b511a33309642b10",
  },
  {
    label: "/assets/certification/coursera.svg",
    issueDate: "October 2020",
    header: "Imperial College London",
    description: "Linear algebra",
    link: "https://coursera.org/share/188f68d6ad88ff3eef98961e9086a861",
  },
  {
    label: "/assets/certification/coursera.svg",
    issueDate: "October 2020",
    header: "Imperial College London",
    description: "Multivariate calculus",
    link: "https://coursera.org/share/06f5f2576a99d093d6ebf16d66182032",
  },
  {
    label: "/assets/certification/coursera.svg",
    issueDate: "October 2020",
    header: "Imperial College London",
    description: "Principal component analysis",
    link: "https://coursera.org/share/c673eb14edd71538e7b9b6eaaad38fea",
  },
  {
    label: "/assets/certification/coursera.svg",
    issueDate: "October 2020",
    header: "Imperial College London",
    description: "Machine learning",
    link: "https://coursera.org/share/22d0fb5678b04bdcdf2fc6bb1f62a23e",
  },
];
---

<Layout name="SKILLS" title="Anton Kozyriev / Skills">
  <div class="scroll-slide stretch py-4">
    <h2 class="text-center font-extrabold mb-4 mt-4">Hard Skills</h2>
    <div class="flex flex-row gap-x-1 flex-wrap mx-6">
      {
        skillsList.map((sk) => (
          <span class="mb-1 py-1 px-3 font-bold text-xs rounded-lg text-zinc-600 border border-zinc-600 uppercase">
            {sk}
          </span>
        ))
      }
    </div>
    <h2 class="text-center font-extrabold mb-4 mt-12">Languages</h2>
    <div class="flex flex-row justify-evenly">
      <div class="flex flex-col justify-center">
        <RadialProgress client:load {...radialSettings} pathLength={1.0}
          ><h2 class="font-radial font-extrabold leading-4 text-zinc-600">
            C2
          </h2>
        </RadialProgress>
        <h3 class="text-center">Ukrainian</h3>
        <small class="text-center">Native speaker</small>
      </div>
      <div class="flex flex-col justify-center">
        <RadialProgress client:load {...radialSettings} pathLength={1.0}
          ><h2 class="font-radial font-extrabold leading-4 text-zinc-600">
            C2
          </h2>
        </RadialProgress>
        <h3 class="text-center">Russian</h3>
        <small class="text-center">Bilingual</small>
      </div>
      <div class="flex flex-col justify-center">
        <RadialProgress client:load {...radialSettings} pathLength={0.85}
          ><h2 class="font-radial font-extrabold leading-4 text-zinc-600">
            C1
          </h2>
        </RadialProgress>
        <h3 class="text-center">English</h3>
        <small class="text-center">Advanced</small>
      </div>
    </div>
    <h2 class="text-center font-extrabold mb-8 mt-12">Certification</h2>
    <div class="flex flex-row gap-x-8 gap-y-8 p-4 flex-wrap justify-evenly">
      {
        certificationsList.map((certification) => (
          <CertificateCard
            label={certification.label}
            header={certification.header}
            description={certification.description}
            issueDate={certification.issueDate}
            link={certification.link}
          />
        ))
      }
    </div>
  </div>
</Layout>

<style>
  h2.font-radial {
    font-size: 1.875rem;
  }

  h3 {
    font-weight: 700;
  }

  small {
    font-weight: 400;
    font-style: italic;
  }
</style>
