---
export interface Props {
  label: string;
  issueDate: string;
  header: string;
  description: string;
  link: string;
}

const { label, issueDate, header, description, link } = Astro.props;
const certificateLink = `window.location.replace('${link}');`;
---

<div class="flex w-full flex-row gap-x-4 rounded-md bg-white px-2 py-3 md:px-4 md:py-6 shadow-lg shadow-black/5 ring-1 ring-zinc-900/5">
  <div class="flex-none basis-12 md:basis-24">
    <img class="aspect-square w-12 md:w-24 rounded-md mt-2 md:m-0" src={label} alt="Certificate label" />
  </div>
  <div class="relative flex-1">
    <small class="text-[0.6rem] md:text-base font-normal text-gray-500 leading-none">{issueDate}</small>
    <h1 class="text-xs md:text-lg font-bold underline underline-offset-2 leading-none">{header}</h1>
    <small class="text-[0.6rem] md:text-base text-gray-700 leading-none">{description}</small>
    <button type="button" onclick={certificateLink} class="absolute bottom-0 right-0 h-5 w-5 md:h-10 md:w-10 rounded-full bg-white uppercase leading-normal text-black transition duration-150 ease-in-out hover:bg-gray-100 focus:bg-gray-100 focus:outline-none focus:ring-0 active:bg-gray-200">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="m-auto h-3 w-3 md:h-4 md:w-4">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"></path>
      </svg>
    </button>
  </div>
</div>
<style></style>
