---
export interface Props {
  company: string;
  position: string;
  dateRange: string;
  location: string;
  achievements: string[];
}

const { company, position, dateRange, location, achievements } = Astro.props;
---

<li>
  <div class="flex flex-start">
    <div
      class="bg-zinc-600 w-6 h-6 flex items-center justify-center rounded-full -ml-3"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="text-white w-3 h-3"
      >
        <path
          fill-rule="evenodd"
          d="M2.25 5.25a3 3 0 013-3h13.5a3 3 0 013 3V15a3 3 0 01-3 3h-3v.257c0 .597.237 1.17.659 1.591l.621.622a.75.75 0 01-.53 1.28h-9a.75.75 0 01-.53-1.28l.621-.622a2.25 2.25 0 00.659-1.59V18h-3a3 3 0 01-3-3V5.25zm1.5 0v7.5a1.5 1.5 0 001.5 1.5h13.5a1.5 1.5 0 001.5-1.5v-7.5a1.5 1.5 0 00-1.5-1.5H5.25a1.5 1.5 0 00-1.5 1.5z"
          clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="card-body">
      <h1 class="text-base md:text-xl leading-none">{company}</h1>
      <h2 class="text-sm md:text-base font-normal leading-none mb-1">{position}</h2>
      <div class="flex justify-between">
        <small class="text-zinc-600">{dateRange}</small>
        <small class="text-zinc-600 italic">{location}</small>
      </div>
      <div class="mb-2">
        <small class="text-zinc-600 italic">Achievements/Tasks</small>
      </div>
      <ul class="list-disc text-xs md:text-sm text-gray-500">{ achievements.map(ac => <li>{ac}</li>) }</ul>
    </div>
  </div>
</li>
<style>
  .card-body {
    display: block;
    padding: 0 0.5rem;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    width: calc(100% - 4.5rem);
  }
</style>
