---
import NavLink from '../components/NavLink.astro';
import ThemeSwitch from '../components/ThemeSwitch';

export interface Props {
	name: string;
}

const { name } = Astro.props;
---

<nav class="flex flex-row justify-between">
    <div class="flex-1">
        <ul class="flex flex-row gap-x-4">
            <NavLink name={name} title={"PROFILE"} href="/" />
            <NavLink name={name} title={"SKILLS"} href="/skills" />
            <NavLink name={name} title={"EDUCATION"} href="/education" />
            <NavLink name={name} title={"EXPERIENCE"} href="/experience" />
            <NavLink name={name} title={"PORTFOLIO"} href="/portfolio" />
        </ul>
    </div>
    <div class="w-18 basis-18 nav-normalize">
        <div class="flex flex-row gap-x-4">
            <ThemeSwitch client:load />
        </div>
    </div>
</nav>
<style>
	.nav-normalize {
		padding-top: 0.2rem;
	}
</style>
