---
import NavLink from '../components/NavLink.astro';

export interface Props {
	name: string;
	title: string;
}

const { name, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: dark)">
		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
		<meta name="description" property="og:description" content="I am a Ukrainian graduate student and a professional Machine Learning Engineer / Software Developer with 3+ of experience in both academic and enterprise. My development and research interests are Deep Learning, Natural Language Processing and Big Data. I am looking for a projects with unique and challenging tasks, discoveries, and friendly team members.">

		<meta property="og:title" content={title}>
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://antonkozyriev.me/">
		<meta property="og:locale" content="en">
		<meta property="og:image" content="https://antonkozyriev.me/assets/og_thumbnail.png">
		<meta property="og:image:alt" content="cv-card">
		<meta property="og:site_name" content="Anton Kozyriev. Machine Learning Engineer / Software Developer.">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="Anton Kozyriev. Machine Learning Engineer / Software Developer.">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content="I am a Ukrainian graduate student and a professional Machine Learning Engineer / Software Developer with 3+ of experience in both academic and enterprise. My development and research interests are Deep Learning, Natural Language Processing and Big Data. I am looking for a projects with unique and challenging tasks, discoveries, and friendly team members.">
		<meta name="twitter:image" content="https://antonkozyriev.me/assets/og_thumbnail.png">
		<meta name="twitter:image:alt" content="cv-card">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap" rel="stylesheet">

		<title>{title}</title>
	</head>
	<body>
		<div class="flex h-screen w-screen items-center justify-center">
			<div class="max-w-screen slide aspect-video max-h-screen mx-8">
				<div class="h-full w-full bg-white rounded-lg">
					<div class="flex h-full w-full flex-row">
						<div class="relative basis-1/3">
							<img class="h-full object-cover" src="/assets/wallpaper.jpg" alt="(C) NIKON CORPORATION, NIKON D5600. Free to use under the Unsplash License." />
							<div class="shape-divider">
								<svg id="visual" viewBox="0 0 530 895" width="530" height="895" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M302 900L510 0L530 0L530 900Z" fill="#ffffff" stroke-linecap="square" stroke-linejoin="bevel"></path></svg>
							</div>
							<span class="thumbnail text-white">Photo by NIKON CORP. <a class="underline" href="https://unsplash.com/photos/vJwzxQK7FaE">Unsplash</a></span>
						</div>
						<div class="basis-2/3">
							<div class="m-4">
								<nav>
									<ul class="flex flex-row gap-x-4 w-full justify-end">
										<NavLink name={name} title={"PROFILE"} href="/" />
										<NavLink name={name} title={"EDUCATION"} href="/education" />
										<NavLink name={name} title={"EXPERIENCE"} href="/experience" />
										<NavLink name={name} title={"CERTIFICATION"} href="/certification" />
										<NavLink name={name} title={"PROJECTS"} href="/projects" />
									</ul>
								</nav>
								<main class="m-auto p-6 w-full">
									<slot />
								</main>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
<style is:global>
	body {
		margin: 0;
		overflow: hidden;
		font-family: 'Roboto', sans-serif;
		color: rgb(55, 53, 47);
	}

	.thumbnail {
		position: absolute;
		left: 0.75rem;
		bottom: 0.75rem;
		font-weight: 700;
		font-size: min(0.8vw, 1.6vh);
    	line-height: 1rem;
	}

	.slide {
		box-shadow: 0 0 50px rgba(0,0,0,.1);
	}

	.shape-divider {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		overflow: hidden;
		line-height: 0;
	}

	.shape-divider svg {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
	}

	.shape-divider .shape-fill {
		fill: #FFFFFF;
	}
</style>
