---
import DesktopView from './DesktopView.astro';
import TabletView from './TabletView.astro';

export interface Props {
	name: string;
	title: string;
}

const { name, title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: dark)">
		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
		<meta name="description" property="og:description" content="I am a Ukrainian graduate student and a professional Machine Learning Engineer / Software Developer with 3+ of experience in both academic and enterprise. My development and research interests are Deep Learning, Natural Language Processing and Big Data. I am looking for a projects with unique and challenging tasks, discoveries, and friendly team members.">

		<meta property="og:title" content={title}>
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://antonkozyriev.me/">
		<meta property="og:locale" content="en">
		<meta property="og:image" content="https://antonkozyriev.me/assets/wallpaper.jpg">
		<meta property="og:image:alt" content="cv-card">
		<meta property="og:site_name" content="Anton Kozyriev. Machine Learning Engineer / Software Developer.">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="Anton Kozyriev. Machine Learning Engineer / Software Developer.">
		<meta name="twitter:title" content={title}>
		<meta name="twitter:description" content="I am a Ukrainian graduate student and a professional Machine Learning Engineer / Software Developer with 3+ of experience in both academic and enterprise. My development and research interests are Deep Learning, Natural Language Processing and Big Data. I am looking for a projects with unique and challenging tasks, discoveries, and friendly team members.">
		<meta name="twitter:image" content="https://antonkozyriev.me/assets/wallpaper.jpg">
		<meta name="twitter:image:alt" content="cv-card">

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100;1,400;1,700;1,900&display=swap" rel="stylesheet">

		<title>{title}</title>
	</head>
	<body>
		<div class="hidden lg:block h-screen w-screen"><DesktopView name={name}><slot /></DesktopView></div>
		<div class="block lg:hidden h-screen w-screen"><TabletView name={name}><slot /></TabletView></div>
	</body>
</html>
